@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@layer components {
  .button--submit {
    @apply w-[129px] rounded-lg bg-[#2C3D68] text-[#FF8B13] font-semibold text-lg px-6 py-3 disabled:bg-[#F6F6F6] disabled:text-[#B3B3B3] disabled:shadow-none;
  }
  .button-action-fill {
    @apply text-black font-medium shadow-xl active:bg-[#E07200] active:text-white px-6 py-3 bg-[#FF8B13] rounded-lg disabled:bg-[#F6F6F6] disabled:text-[#B3B3B3] disabled:shadow-none;
  }
  .button-action-outline {
    @apply text-[#FF8B13] font-medium px-6 py-3 border-[#FF8B13] outline-[#E07200] outline-2 outline hover:outline-1 rounded-lg disabled:bg-[#F6F6F6] disabled:text-[#B3B3B3] disabled:outline-none;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-stroke-color: #8b99a6 !important;
  -webkit-text-fill-color: #8b99a6 !important;

  background-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
}
input::-webkit-calendar-picker-indicator {
  color: #ff8b13;
  opacity: 1;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #e8e8e8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  background-color: #ff8b13;
}

input:focus + .slider {
  box-shadow: 0 0 1px gray;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
input {
  filter: none;
}

::-webkit-calendar-picker-indicator {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23ff8b13' d='M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z'/%3E%3Cpath fill='%23ff8b13' d='M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2M19 8l.001 12H5V8z'/%3E%3C/svg%3E");
}
input[type="date"]:invalid::-webkit-datetime-edit {
  color: #8b99a6;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.selectAfter::after {
  content: "";
  background-image: url(/downArrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 14px;
  right: 24px;
  top: 20px;
  transition: all 0.4s;
}
/* .selectAfter:hover::after {
  transform: rotate(180deg);
} */
.activeArrow::after {
  transform: rotateX(180deg);
  top: -20px;
}
.edit-button::after {
  content: "";
  background-image: url(/ep_edit.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 24px;
  right: 10px;
}
